body{
  height: 100%;
  background-image: url("../src/assets/images/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  body {
    background-position: center top;
    background-size: cover;
  }
}

