<button class="btn btn-warning ml-5 mt-5" routerLink=""> ⇦ Accueil</button>
<h1 class="title">Ajouter un nouveau cirque</h1>
        <form class="offset-1 offset-md-2" (ngSubmit)="newCircus(circus)" #circus="ngForm">
          <div class="row mb-5">
            <p class="col-5 text-color">Nom :</p>
            <input class="col-6" type='text' placeholder="nom" name="name" #name="ngModel" [ngModel]>
          </div>
          <div class="row mb-5">
            <p class="col-5 text-color">Pays :</p>
            <input class="col-6" type='text' placeholder="pays" name="nationality" #nationality="ngModel" [ngModel]>
          </div>
          <div class="row mb-5">
            <p class="col-5 text-color">Nombre d'artiste(s) :</p>
            <input class="col-6" type='number' placeholder="nombre d'artiste" name="nb_artist" #nb_artist="ngModel" [ngModel]>
          </div>
          <div class="row mb-5">
            <p class="col-5 text-color">Année de création :</p>
            <input class="col-6" type='number' placeholder="année de création" name="year_creation" #year_creation="ngModel" [ngModel]>
          </div>
          <div class="row mb-5">
              <p class="col-5 text-color">Lien image du cirque :</p>
              <input class="col-6" type='text' placeholder="image .. jpg.. png" name="circus_picture" #circus_picture="ngModel" [ngModel]>
            </div>
          <button class='btn btn-success mr-5 mt-3 mb-3 register-btn' type="submit">Enregistrer le nouveau cirque</button>
        </form>

