<h1>Wild Circus</h1>
<div class="container-fluid">
  <div class="row offset-2">
    <ng-container class="col-md-4 col-sm-12" *ngFor="let circus of circus; let i = index">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Cirque: {{circus.name}}</h5>
          <p class="card-text">Nationalité : {{circus.nationality}}</p>
          <button class="btn btn-warning btn-sm" type="bouton" [routerLink]="['circus',circus.id,'infos']">Détails</button>
          <button class="btn btn-danger btn-sm" type="bouton" (click)="deleteCircus(circus.id, i)">Supprimer</button>
          <button class="btn btn-info btn-sm" type="bouton" [routerLink]="['circus',circus.id,'edit']">Modifier</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
