.title{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: beige;
  font-size: 65px;
  text-shadow: 10px 10px 10px  black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.btn{
  border-color: black;
	box-shadow: none;
}

// .del-message{
//   margin-left: 13%;
//   margin-top: 3px;
// }

.card{
  margin-left: 6%;
}

.table{
  background-color: beige;
  margin-top: 5%;
}

.showMessage{
  margin-top:5%;
  margin-left:5.5%;
}
