.title{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: beige;
  font-size: 65px;
  text-shadow: 10px 10px 10px  black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text-color{
  color: beige;
  font-size: 35px;
  text-shadow: 10px 10px 10px  black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.register-btn{
  margin-left: 28%;
}
